<!DOCTYPE html>
<html>
  <head>
    <title>Colorama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Putting some images on the window for reference in React, remove these later %>
    <script type="text/javascript">
      window.post1 = "<%= image_url('colorama-1.png') %>"
      window.post2 = "<%= image_url('colorama-2.jpg') %>"
      window.logo = "<%= image_url('colorama-logo.png') %>"
    </script>
    <%# Favicon %>
    <link rel="icon" href="https://static.wixstatic.com/media/05ae45_5d0cd221ee034782b41eb979cea4a566%7Emv2_d_5216_4563_s_4_2.png/v1/fill/w_32%2Ch_32%2Clg_1%2Cusm_0.66_1.00_0.01/05ae45_5d0cd221ee034782b41eb979cea4a566%7Emv2_d_5216_4563_s_4_2.png">

    <%# Font Awesome link %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
